.popup__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0;
    padding: 0;
    border: none;
}

@media screen and (max-width: 530px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
    }
}