.element__like_active {
    width: 22px;
    height: 19px;
    background-image: url("../../../../image/like-active.svg");
    background-size: contain;
    background-color: #FFF;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
}